<!DOCTYPE html>
<html lang="en">

<head>
    <header>
        <a href="list.html">Home</a>
    </header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>deets</title>
    {% endblock title %}
</head>

<body>
    <main>
        <div>
            <h1>{{ item }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in list_detail.items.all %}
                    <tr>
                        <td>{{ task.task }}</td>
                        <td>{{ task.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>
    </main>
</body>

</html>
